<h1 class="text-center">Public Recipes</h1>

<% if @public.length > 0 %>
<div class="container">
    <% @public.each do |recipe| %>
    <div class="recipe-container border mb-4 p-3">
        <div>
            <%= link_to "#{recipe.name}", "/recipies/#{recipe.id}" %>
            <p>by: <%= recipe.user.name %></p>
        </div>
        <div>
            <p>Total food Items: <%= recipe.recipe_foods.length %></p>
            
            <% total = 0 %>
            <% recipe.recipe_foods.each do |food| %>
                <% total += food.food.price %>
            <% end %>
            <p>Total price: $<%= total %></p>
        </div>
    </div>
    <% end %>
</div>
<% else %>
    <p class="text-center">No Public Recipes available at this time</p>
<% end %>
