<p class="notice-message"><%= notice %></p>

<%= render @recipe %>

<div class="recipe-details">
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "edit_links" %> |
  <%= link_to "Back to recipes", recipes_path, class: "edit_links" %>
</div>
