<%# <table id="foods-table">
  <tr>
    <th>
    Food
    </th>

    <th>
    Measurement unit
    </th>
    <th>
    Unit price
    </th>
     <th>
    Actions
    </th>
    
   
  </tr>

  <tr>
    <td>
     <%= food.name %>
    </td>

    <td>
    <%= food.measurementUnit %>
    </td>
    <td>
    <%= food.price %>
    </td>
     <td>
    Delete
    </td>
  <%# </tr> %>



<%# </table> %> %>
